.container {
    background-color: #f8f9fa; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px; 
  }
  
  .title {
    color: #33333375; 
    font-size: 34px; 
    font-weight: bold; 
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  